<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= student.father_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Emergency contact:</strong>
    <% if student.emergency_contact %>
      <%= link_to 'View', emergency_contact_path(student.emergency_contact.id) %>
      <br>
      <b>URL: <b><%= edit_emergency_contact_url(student.emergency_contact, token: student.emergency_contact.token) %>
    <% else %>
      <%= link_to 'Generate URL', emergency_contacts_path(student: student.id), data: { turbo_method: :post } %>
    <% end %>
  </p>
</div>
